<ul class="archive">
  <%
  let sortedPosts = posts.sort((a, b) => b.date - a.date);
  sortedPosts.each((post, i) => {
  %>
    <li>
      <time><%= date(post.date) %></time>
      <a href="<%= url_for(post.path) %>"><%= post.title %></a>
      <div class="categories">
        <% post.categories.each((category, j) => { %>
            <a href="<%- url_for(category.path) %>"><span class="category"><%= category.name %></span></a>
        <% }) %>
      </div>
    </li>
  <% }) %>
</ul>
